<div class="modal">
	<div class="modal-wrapper">
		<div class="modal-header" style="background-color:{{ fill }};">
			<div class="modal-header__container modal-container">
				<div class="logo-company" style="background-color:{{ fill }};">
					<img class="logo-company__img" src="{{ logo }}" alt="{{ name }}"/>
				</div>
			</div>
		</div>
		<div class="modal-content">
			<div class="content modal-container">
				<div class="content__intro">
					<h1>{{ name }}</h1>
					<p>{{ desc }}</p>
				</div>
				<ul class="content__list">
          {% for item in list %}<li>{{ item }}</li>{% endfor %}
				</ul>
        {{ content }}
        <!--
				<h2>Анализ текущей деятельности:</h2>
				<ul>
					<li>Детальный и глубокий анализ рыночной ситуации: динамика продаж в регионе, кто является лидерами по объему строительства и продаж, что позволяет коллегам-конкурентам достигать этих показателей и быть лидерами рынка (анализ ТОП-10).</li>
					<li>Анализ результатов по продажам у территориальных конкурентов заказчика. Какая средняя цена и стоимость их реализации, какие есть преимущества в их предложениях, как работает «отдел продаж». Объезд «тайным покупателем» офисов продаж конкурентов для формирования детального знания их предложений, чтобы использовать эту информацию в своей работе – удачные практики перенять, от менее удачных и слабых моментов отстраиваться командой;</li>
					<li>Анализ текущего продвижения объекта, рекламных кампаний, количество привлеченных лидов (обращений), средняя стоимость, эффективность распределения маркетингового бюджета, план стратегии на увеличение показателей для выполнения плана продаж.</li>
					<li>Анализ продуктового предложения заказчика и при готовности вносить изменения в продукт – выдача рекомендаций и выявлением возможностей для улучшений</li>
				</ul>
				<h2>Формирование коммерческого подразделения компании</h2>
				<ul>
					<li>Разработка профилей кандидатов и их функциональных обязанностей: в отдел продаж, ипотеки, маркетинга и рекламы, контактный центр, администратор офиса, руководителя подразделения;</li>
					<li>Выдача рекомендаций, для материальной мотивации сотрудников подразделения исходя из рыночных предложений конкурентов;</li>
					<li>Проведение собеседований и отбор кандидатов на все должности;</li>
					<li>Разработка планов развития с каждым сотрудником;</li>
					<li>Последующее ежедневное кураторство и наставничество для всей команды на период ведения проекта в режиме полноценного члена команды и компании;</li>
					<li>Последующее обучение и адаптация всех сотрудников.</li>
					<li>Создание благоприятной рабочей атмосферы для высокой вовлеченности сотрудников и профессионального роста команды.</li>
				</ul>
				<h2>Блок обучения</h2>
				<ul>
					<li>Тренинг «Телефонные переговоры. Создание и внедрение скрипта телефонного звонка» - курс для увеличения количества встреч с покупателями и партнерами на объекте заказчика. Один теоретический день, далее закрепление навыка персонально и группой на протяжении 3-х недель. И контроль на период ведения всего проекта;</li>
					<li>Тренинги: «Структура продаж. Основные этапы и принципы работы», «Возражения. Основные типы возражений и алгоритм работы с ними», «Алгоритм проведения личной встречи». Продолжительность - 2 дня теории, далее командные и персональные практические закрепления в течение 1-го месяца в офисе и на строительной площадке;</li>
					<li>Организация и проведение серии обучений для команды продаж от  компаний подрядчиков и субподрядчиков заказчика для высокого знания продукта: отделка, окна, двери, входная группа, лифты, коммуникации и т.д. Наполнение придомовой территории, особенности архитектуры;</li>
					<li>Создам материалы для системной работы команды: технические характеристики продуктов, единый регламент знания объектов и предложений конкурентов, скрипт обработки телефонного звонка, алгоритм пошаговой инструкции проведения личной встречи с покупателем в офисе и на строительной площадке; документ речевых формулировок с преимуществами комплексов по технологии «Факт-выгода», чек-листы для внутренней оценки телефонных переговоров и проведения личных встреч для последующего контроля РОП;</li>
					<li>Организация работы под ключ штатного отдела маркетинга и рекламы:  создание эффективного маркетингового бюджета, передача контактов и привлечение проверенных подрядчиков для будущего взаимодействия и осуществления разных рекламных кампаний, формирование плана рекламных активностей с партнерами и покупателями, совместное создание рекламной продукции, оформление точек продаж, планирование мероприятий для привлечения покупателей и т.д.</li>
					<li>Построение процесса взаимодействия с Партнерами компании: банки, страховые компании, агентства недвижимости. Формирование комиссионного вознаграждения, общего регламента и принципов работы, графика работы и плана взаимодействия для увеличения совместных продаж;</li>
					<li>Разработка и внедрение финансовых инструментов для эффективного продвижения продукта и его реализации командой (ипотечные программы и субсидирования, условия рассрочки, аукционные программы и т.д.);</li>
					<li>Передача накопленного опыта и ведение команды по всем возникающим вопросам для достижения итогового результата.</li>
				</ul>
				<h2>Аттестация</h2>
				<ul>
					<li>Аттестация по техническим характеристикам объекта после серии обучений от подрядчиков компании;</li>
					<li>Экзамен для команды по блоку «Телефонные переговоры» согласно разработанному чек-листу;</li>
					<li>Экзамен по проведению личной встречи в офисе и на площадке по составленному алгоритму проведения встречи и чек-листу</li>
					<li>После сдачи всех аттестаций - сотрудникам выдаются именные Сертификаты.</li>
				</ul>
				<blockquote>
					<p>Продолжительность и формат проекта = 4 месяца ведения с личным присутствием в городе, далее 2 месяца дистанционного кураторства (онлайн) для контроля применения стандартов обслуживания.
					</p>
				</blockquote>
        -->
			</div>
		</div>
		<div class="modal-footer">
			<div class="modal-container">
				<div class="panel">
					<div class="panel__aside" style="background-color:{{ sibling.fill }};">
						<div class="panel__logo">
							<img class="panel__img" src="{{ sibling.picture }}" alt="{{ sibling.name }}" />
						</div>
					</div>
					<div class="panel__wrapper">
						<div class="panel__header">
							<div class="panel__title">{{ sibling.name }}</div>
							<div class="panel__subtitle">{{ sibling.desc }}</div>
						</div>
						<div class="panel__footer">
							<button class="panel__btn js-modal-btn" type="button" data-res="{{ sibling.id }}">Смотреть следующий проект
								<span>-></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
